<h1>Film Genres</h1>

<body>
  <% @genres.each do |genre| %>
    <h3><%= genre.name%></h3>
  <% end %>
</body>

<%= form_for @genre do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
  <%=f.submit %>
<%end%>
